
<nav class="header">
  <div class="header-left">

    <a routerLink="/home" class="logo">
      <img src="/assets/Logo_ESPRIT_Ariana.jpg" width="35" height="35" alt=""> <span>International Mobility</span>
    </a>
  </div>
  <a id="toggle_btn" routerLink="/Sidebar"><img src="assets/img/icons/bar-icon.svg" alt=""></a>
  <a id="mobile_btn" class="mobile_btn float-start" routerLink="/Sidebar"><img src="assets/img/icons/bar-icon.svg" alt=""></a>

  <div class="top-nav-search mob-view">
    <form>
      <input type="text" class="form-control" placeholder="Search here">
      <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
    </form>
  </div>
  <div>
    <ul class="nav user-menu float-end">
      <li class="nav-item  has-arrow user-profile-list">
        <a routerLink="/login" class="dropdown-toggle nav-link user-link" >
          <div class="user-names">
            <h5>Login </h5>
          </div>

        </a>

      </li>

    </ul>
  </div>
</nav>




<!--<ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <h6> <a class="nav-link active" aria-current="page" style="color: blanchedalmond;" routerLink="/home">Home</a>
          </h6>
        </li>
        <li class="nav-item">
          <h6> <a class="nav-link active" aria-current="page" style="color: blanchedalmond;" routerLink="/user">
              Universities </a> </h6>
        </li>
        <li class="nav-item">
          <h6> <a class="nav-link active" aria-current="page" href="#" style="color: blanchedalmond;"
              routerLink="allUser">Admin</a> </h6>
        </li>
        <li class="nav-item">
          <h6> <a class="nav-link active" aria-current="page" style="color: blanchedalmond;"
              routerLink="/UsersManagment">Users Managment</a>
          </h6>
        </li>

      </ul>
      <button type="button" class="btn btn-outline-light" routerLink="/addUser">Sign up </button>
      <button type="button" class="btn btn-outline-light" routerLink="/login">Login</button>
    </div>-->